body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url("Images/table.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 6vw;
    margin: 0;
}

h1 {
    color: goldenrod;
    font-size: 12vw;
    font-family: 'Space Mono', monospace;
    margin-bottom: 12px;
    letter-spacing: 2px;
    box-shadow: #02612d 1px 20px 10px;
    border-radius: 10px;
}

h1:hover{
    color: azure;
}

p{
    margin: 12px 0px;
    box-shadow: #02612d 1px 20px 10px;
    border-radius: 7px;
    padding: 4px;
}

#top{
    margin-top: 30px;
}

#message-el {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(203, 224, 133);
    font-size: 6vw;
    letter-spacing: 1px;
    box-shadow: #02612d 1px 1px 1000px;
}

button{
    color: #016f32;
    width: 50vw;
    background: goldenrod;
    border: 0px;
    padding: 10px 8px 10px 8px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    border: solid 4px darkgoldenrod;
    box-shadow: #02612d 1px 20px 10px;
    border-radius: 7px;
    margin: 4;
    
}